<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UDPLauncher_GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <UDPLauncher_GUI.Properties.Settings>
            <setting name="ProgramToLaunch" serializeAs="String">
                <value>C:\Program Files\XBMC\XBMC.exe</value>
            </setting>
            <setting name="XBMCEvent" serializeAs="String">
                <value>ExecBuiltIn(ActivateWindow(VideoLibrary,TvShowTitles))</value>
            </setting>
            <setting name="XBMCHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="XBMCPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="XBMCUser" serializeAs="String">
                <value />
            </setting>
            <setting name="XBMCPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="PortToListenTo" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="ExitIfOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseXBMCEvent" serializeAs="String">
                <value>False</value>
            </setting>
        </UDPLauncher_GUI.Properties.Settings>
    </userSettings>
</configuration>